@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --main-color: #ffe81f;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #dadada;
  font-family: "Mozilla Text", sans-serif;
  color: #1f2023;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}
