#tasks .task {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  margin-block: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#tasks .task.completed {
  background-color: #ebebeb;
  color: #1f202373;
}

#tasks .task .task-actions {
  margin-left: auto;
  opacity: 0;
}

#tasks .task .task-actions span {
  padding-inline: 0.8rem 0;
}

#tasks .task:hover .task-actions {
  opacity: 1;
}

#tasks article:hover {
  background-color: #ebebeb;
}

#tasks article .status {
  color: #999;
  cursor: pointer;
}

#tasks article .edit {
  color: #999;
  cursor: pointer;
}

#tasks article .delete {
  color: #999;
  cursor: pointer;
}

#tasks article .drag {
  color: #999;
  cursor: grab;
}

#tasks article .drag:active {
  cursor: grabbing;
}

@media (prefers-color-scheme: dark) {
  #tasks .task {
    background-color: #2e3440;
  }

  #tasks .task.completed {
    background-color: #27272b;
    color: #d6d6d69b;
  }

  #tasks .task:hover {
    background-color: #4d576a;
  }
}
